/* -------------- 0. GLOBAL STYLES -------------- */
html * {
  box-sizing: border-box;
  margin: 0;
}

body,
html {
  height: 100%;
}

body {
  font-family: "Montserrat", "Gill Sans", sans-serif;
  color: black;
  background-color: #EEECEC;
  line-height: 30px;
}

#logo-negro {
    width: 80px;
    height: 80px;
}

.grid {
  display: grid; 
  justify-content: center; 
  align-content: center; 
}

.item {
  background-color: white; 
  padding: 30px; 
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
  align-items: center;
}

.seccion-centrada {
  margin: 120px auto 120px auto;
  width: 85%;
}

.background-imagen {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.seccion-inferior {
  min-height: 450px; 
}


#landing-cabecera,
#colaborar-cabecera,
footer {
  width: 100%;
}

.columna {
  column-count: 2;
}

/* --- TEXTOS --- */
@font-face {
  font-family: "Refuge";
  src: url(/assets/fonts/Refuge.ttf);
}

h1.deco { 
font-family: Refuge;
font-size: 36px;
color: #000000;
letter-spacing: 6px;
line-height: 30px;
margin-bottom: 60px;
}

/* Comunes */
.p-blanco, p {
    letter-spacing: 1px;
}
.p-blanco {
  font-family: Montserrat-Bold;
  color: #ffffff;
  text-align: center;
}
.p-blanco,
h2 {
   text-transform: uppercase;  
}
figcaption,
h2 {
  letter-spacing: 3px;
}
figcaption {
    text-align: center; 
    line-height: 30px;
    font-size: 15px;
}

/* Individuales */
h2 {
  font-size: 20px;
}
p {
  font-family: Montserrat-Regular;
  font-size: 15px;
}




/* --- BOTONES --- */
.importante, .verde-completo, .verde-simple{
border-radius: 100px;
font-family: Montserrat-Bold;
font-size: 16px;    
letter-spacing: 1px;
min-width: 220px;
min-height: 50px;
padding: 10px;
}
.importante, .verde-completo {
 color: #ffffff;   
 border: 0; 
}
.importante {
background: #e69ed4;
box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
text-transform: uppercase; 
}
.verde-completo {
background: #619874;
}
.verde-simple {
border: 2px solid #619874;
background: none; 
position: relative;
right: 1;

}

/* ------------ FORMULARIO ------------ */
.formulario {
    width: 90%;
    margin: 10px auto;
    padding: 16px;
  }
  
  .formulario input[type="text"],
  .formulario input[type="email"],
  .formulario textarea,
  .formulario select {
    outline: none;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font-family: "Montserrat";
    font-size: 14px;
  }
  .formulario input[type="text"]:focus,
  .formulario input[type="email"]:focus,
  .formulario textarea:focus,
  .formulario select:focus {
    box-shadow: 0 0 5px #c8d5da;
    padding: 3%;
    border: 1px solid #c8d5da;
  }
  
  .formulario input[type="submit"],
  .formulario input[type="button"] {
    border-radius: 100px;
    font-family: Montserrat-Bold;
    font-size: 16px;
    color: white; 
    background-color: #619874; 
    letter-spacing: 1px;
    min-width: 220px;
    min-height: 50px;
    padding: 10px;
  }
  .formulario input[type="submit"]:hover,
  .formulario input[type="button"]:hover {
    background: #999;
    color: white;
  }


/* NAV / MENU */
.menu__logo {
  width: 80px;  
}

li a img.rrss {
width: 80%; 
}

.menu-ultimo {
  margin-right: 30px; 
}

.menu {
  display:flex;
  justify-content: center; 
  align-items: center;
  position: absolute;
  top: 10px; 
  width: 100%; 
  padding: 0;  

}
 
.menu li{
  display: inline-block;
  position: relative;
}
 
.menu li a {
  font-family: Montserrat-SemiBold;
  font-size: 16px;
  color: #000000;
  text-decoration: none;
  letter-spacing: 1px;
  padding:11px;
  display:block;

-webkit-transition: all 0.2s ease-in-out 0s;
   -moz-transition: all 0.2s ease-in-out 0s;
   -o-transition: all 0.2s ease-in-out 0s;
   -ms-transition: all 0.2s ease-in-out 0s;
   transition: all 0.2s ease-in-out 0s;
}
 
.menu li a:hover, .menu li:hover > a{
  color:#555;
}

/* hide the second level menu */
.menu ul {
  display: none;
  margin: 0;
  padding: 0;
  width: 200px;
  position: absolute;
  top: 52px;
  left: 0px;
  }
   
  /* display second level menu on hover */
  .menu li:hover > ul{ display: block;}
   
  .menu ul li {
  display:block;
  float: none;
  background:none;
  margin:0;
  padding:0;
  }
   
  .menu ul li a {
  font-size:12px;
  font-weight:normal;
  display:block;
  color:#797979;
  border-left:3px solid #ffffff;
  background:#ffffff;}
   
  .menu ul li a:hover, .menu ul li:hover > a{
  /* background:#f0f0f0; */
  border-left:3px solid #619874;
  color:#797979;
  font-style: italic;
  }
