/* -------------- 1. LANDING -------------- */
/* Cabecera */
#landing-cabecera {
  background-image: url(/assets/img/Backgrounds-e-imagenes/landing-background.png);
  height: 1024px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#landing-cabecera__info {
  text-align: center;
  margin-right: 200px;
}
/* Resumen */
#landing-resumen {
  grid-template-columns: repeat(3, 270px);
  grid-column-gap: 60px; 
  text-align: center; 
}
.landing-resumen__icono {
  width: 80%; 
}
/* Informacion */
#landing-info {
  grid-template-columns: minmax(552px, 705px) minmax(552px, 705px);
}
.landing-info__texto {
  height: 400px; 
}
.landing-info__item__imagen1 {
  background-image: url(/assets/img/Backgrounds-e-imagenes/landing-actividades.png);
}
.landing-info__item__imagen2 {
  background-image: url(/assets/img/Backgrounds-e-imagenes/landing-voluntariado.png);
}
/* Equipo */
#landing-equipo {
  grid-template-columns: minmax(552px, 705px);
  height: 724px;
  background-image: url(/assets/img/Backgrounds-e-imagenes/landing-fundadoras.png);
  text-align: center;
}
.landing-equipo__info {
max-width: 700px; 
margin: 0 auto; 
}
/* Contacto */
#landing-contacto {
  grid-template-columns: 1.2fr 1fr; 
}
.landing-contacto__mapa {
  border: 1px solid gray;
}
/* Footer */
footer {
  display: flex;
  background-color: #a0a0a0;
}
footer div {
  width: 50%;
}





/* -------------- 2. HISTORIA -------------- */
#historia__info {
  background-color: white; 
  padding: 30px; 
}
#historia__conocer-equipo {
  background-image: url(/assets/img/Backgrounds-e-imagenes/historia-inferior.png);
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.historia__imagen {
  width: 100%; 
  z-index: -1;
  position: absolute;
  top: 60px; 
}





/* -------------- 3. SOBRE NOSOTROS -------------- */
.sobre-nosotros__info {
  grid-template-rows: 400px 400px; 
}
.sobre-nosotros__info__grid-imagen {
  background-image: url(/assets/img/Backgrounds-e-imagenes/equipo-fundadoras.png);
}
#sobre-nosotros__el-voluntariado{
  grid-template-columns: minmax(552px, 705px) minmax(552px, 705px);
}
.sobre-nosotros__el-voluntariado__grid-imagen{
  background-color: gray; 
}
#sobre-nosotros__el-voluntariado__galeria {
  grid-template-columns: 32% 32% 32%; 
  grid-template-rows: 545px 545px; 
  grid-gap: 15px; 
  text-align: center;
}
.imagen-prueba {
  border: 1px solid gray;
  height: 468px; 
  margin-bottom: 15px;
} 



/* -------------- 4. ACTIVIDADES -------------- */
.actividades__info {
 grid-template-columns: minmax(552px, 705px) minmax(552px, 705px);
 grid-column-gap: 10px; 
}
.actividades__info__iconos {
  grid-template-rows: 300px 300px; 
  grid-template-columns: 50% 50%;
  text-align: center; 
}
.actividades__info__iconos figure {
  display: flex; 
  flex-wrap: wrap; 
  align-items: center;
  justify-content: center; 
}
.actividades__info__iconos figcaption {
  padding: 15px; 
}
.actividades__info__iconos__img {
  width: 60%; 
}
#actividades__galeria {
  display: grid; 
  grid-template-rows: repeat(2, 280px); 
  grid-template-columns: repeat(3, 32%); 
  grid-gap: 20px; 
  justify-content: center; 
  align-content: center; 
}
#actividades__galeria div {
  background-color: white;
  border: 2px solid black; 
}
#actividades__organizar-taller{
  grid-template-columns: minmax(552px, 705px) minmax(552px, 705px);
}
.actividades__organiza-taller__imagen {
  background-image: url(/assets/img/Backgrounds-e-imagenes/actividades-talleres.png);
}





/* -------------- 5. VALORES -------------- */
.nuestros-valores__info {
  grid-template-columns: minmax(552px, 705px) minmax(552px, 705px);
}
.nuestros-valores__grid-imagen{
  background-image: url(/assets/img/Backgrounds-e-imagenes/valores-superior.png);
  height: 750px;
}
#nuestros-valores__colabora {
  background-image: url(/assets/img/Backgrounds-e-imagenes/valores-inferior.png);
  display: flex;
  align-items: center;
  justify-content: center;
}





/* -------------- 6. VOLUNTARIADO -------------- */
.voluntariado__info {
  grid-template-columns: minmax(552px, 705px) minmax(552px, 705px);
}
.voluntariado__grid-imagen {
  background-image: url(/assets/img/Backgrounds-e-imagenes/voluntariado-superior.png);
}
#voluntariado__actividades {
  grid-template-columns: minmax(552px, 705px) minmax(552px, 705px);
}
.voluntariado__actividades__grid-imagen {
  background-image: url(/assets/img/Backgrounds-e-imagenes/voluntariado-inferior.png);
}





/* -------------- 7. COLABORAR -------------- */
#colaborar-cabecera {
  background-image: url(/assets/img/Backgrounds-e-imagenes/colabora-background.png);
  height: 1024px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.colaborar-cabecera__info {
  text-align: center;
}
.colaborar-cabecera__info p{
  padding: 20px; 
  background-color: #619874; 
}
#colaborar {
  grid-template-columns: minmax(552px, 705px) minmax(552px, 705px);
}
.colaborar__accion {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  flex-direction: column; 
}
.productos-solidarios__productos {
  grid-template-columns: minmax(552px, 705px) minmax(552px, 705px);
  text-align: center; 
}



/* -------------- 8. CONTACTO -------------- */
#contacto {
  grid-template-columns: minmax(552px, 705px) minmax(552px, 705px);
}
#contacto__mapa {
  width: 100%; 
  background-color: gray; 
  height: 400px; 
}